{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },

  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },

  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "rules": {
    "no-console": [0],
    "semi": [2, "always"]
  }
}
